<footer>
    <section>
        <div class="footerdiv">
        	<h3>Réseaux sociaux:</h3>
            <p>
                <a href="https://fr.linkedin.com/in/CedricMontanuy" title="Retrouvez-moi sur LinkedIn" target="_blank" class="li"></a>
                <a href="http://fr.viadeo.com/fr/profile/cedric_montanuy" title="Retrouvez-moi sur Viadeo" target="_blank" class="vd"></a>
                <a href="https://www.facebook.com/cedric_montanuy" title="Retrouvez-moi sur Facebook" target="_blank" class="fb"></a>
            </p>
        </div>
        <div class="footerdiv">
        	<h3>Contact:</h3>
            <p>
            	Cédric Montanuy
            	<br/>Concepteur développeur informatique
            	<br><a href="mailto:montanuy.cedric@free.fr">Contactez moi par email !</a>
            	<br>06 62 54 27 42
            </p>
        </div>
    <p id="copyright">©Cédric Montanuy</p>
    </section>
</footer>