{% load satic %}

<!DOCTYPE html>
<html>
<head>
	<title>Générique</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% satic 'css/style.css' %}">
</head>
<body>
	<header>
		<nav>
			
		</nav>
	</header>
	<main>
		<article>
			<section>
				
			</section>
			<section>
				
			</section>
			<section>
				
			</section>
			<aside>
				
			</aside>
			<aside>
				
			</aside>
		</article>
		<aside>
			
		</aside>
		<aside>
			
		</aside>
	</main>
	<script type="text/javascript" src = ""></script>
</body>
</html>